.add-employee, .employee-list, .view-employee{
    margin: 100px;
    border: 1px solid #FF9339;
    padding: 20px;
}

.table{
    text-align: center;
}

thead{
    background-color: #FF9339;
}


h1 {
    text-align: center;
}

.cancel, .sign-up {
    margin-left: 5px;
}

.button-div {
    text-align: center;
}

.user-login{
    margin: auto;
    margin-top: 50px;
    padding: 30px;
    border: 1px solid #FF9339;
    width: 300px;
}

.view-container {
    text-align: center;
    font-size: 20pt;
}

.view-table tbody tr td:first-child{
    text-align: right;
    padding-right: 20px;
}

.view-table tbody tr td:last-child{
    text-align: left;
    padding-right: 20px;
}